/models/*
/test/*
/huh.py
/training/*
.idea/*
*.pyc
/.venv/Lib/site-packages/aiohttp/_helpers.cp312-win_amd64.pyd
/.venv/Lib/site-packages/aiohttp/_http_parser.cp312-win_amd64.pyd
/.venv/Lib/site-packages/aiohttp/_http_writer.cp312-win_amd64.pyd
/.venv/Lib/site-packages/aiohttp/_websocket.cp312-win_amd64.pyd
/.venv/Lib/site-packages/bidi/bidi.cp312-win_amd64.pyd
/.venv/Lib/site-packages/charset_normalizer/md.cp312-win_amd64.pyd
/.venv/Lib/site-packages/charset_normalizer/md__mypyc.cp312-win_amd64.pyd
/.venv/Lib/site-packages/cv2/cv2.pyd
/.venv/Lib/site-packages/Cython/Compiler/Code.cp312-win_amd64.pyd
/.venv/Lib/site-packages/Cython/Compiler/Scanning.cp312-win_amd64.pyd
/.venv/Lib/site-packages/Cython/Plex/Actions.cp312-win_amd64.pyd
/.venv/Lib/site-packages/Cython/Plex/DFA.cp312-win_amd64.pyd
/.venv/Lib/site-packages/Cython/Plex/Machines.cp312-win_amd64.pyd
/.venv/Lib/site-packages/Cython/Plex/Scanners.cp312-win_amd64.pyd
/.venv/Lib/site-packages/Cython/Plex/Transitions.cp312-win_amd64.pyd
/.venv/Lib/site-packages/Cython/StringIOTree.cp312-win_amd64.pyd
/.venv/Lib/site-packages/Cython/Utils.cp312-win_amd64.pyd
/.venv/Lib/site-packages/frozenlist/_frozenlist.cp312-win_amd64.pyd
/.venv/Lib/site-packages/google/_upb/_message.pyd
/.venv/Lib/site-packages/kiwisolver/_cext.cp312-win_amd64.pyd
/.venv/Lib/site-packages/lmdb/cpython.cp312-win_amd64.pyd
/.venv/Lib/site-packages/lxml/_elementpath.cp312-win_amd64.pyd
/.venv/Lib/site-packages/lxml/etree.cp312-win_amd64.pyd
/.venv/Lib/site-packages/markupsafe/_speedups.cp312-win_amd64.pyd
/.venv/Lib/site-packages/matplotlib/_c_internal_utils.cp312-win_amd64.pyd
/.venv/Lib/site-packages/matplotlib/_image.cp312-win_amd64.pyd
/.venv/Lib/site-packages/matplotlib/_path.cp312-win_amd64.pyd
/.venv/Lib/site-packages/matplotlib/ft2font.cp312-win_amd64.pyd
/.venv/Lib/site-packages/multidict/_multidict.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/_core/_multiarray_umath.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/fft/_pocketfft_umath.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/linalg/_umath_linalg.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/random/_bounded_integers.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/random/_common.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/random/_generator.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/random/_mt19937.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/random/_pcg64.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/random/_philox.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/random/_sfc64.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/random/bit_generator.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy/random/mtrand.cp312-win_amd64.pyd
/.venv/Lib/site-packages/numpy.libs/libscipy_openblas64_-c16e4918366c6bc1f1cd71e28ca36fc0.dll
/.venv/Lib/site-packages/numpy.libs/msvcp140-23ebcc0b37c8e3d074511f362feac48b.dll
/.venv/Lib/site-packages/paddle/base/libpaddle.pyd
/.venv/Lib/site-packages/paddle/libs/common.dll
/.venv/Lib/site-packages/paddle/libs/mkldnn.dll
/.venv/Lib/site-packages/paddle/libs/mklml.dll
/.venv/Lib/site-packages/PIL/_imaging.cp312-win_amd64.pyd
/.venv/Lib/site-packages/PIL/_imagingft.cp312-win_amd64.pyd
/.venv/Lib/site-packages/propcache/_helpers_c.cp312-win_amd64.pyd
/.venv/Lib/site-packages/pyclipper/_pyclipper.cp312-win_amd64.pyd
/.venv/Lib/site-packages/pydantic_core/_pydantic_core.cp312-win_amd64.pyd
/.venv/Lib/site-packages/pymupdf/_extra.pyd
/.venv/Lib/site-packages/pymupdf/_mupdf.pyd
/.venv/Lib/site-packages/pymupdf/mupdfcpp64.dll
/.venv/Lib/site-packages/regex/_regex.cp312-win_amd64.pyd
/.venv/Lib/site-packages/safetensors/_safetensors_rust.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/_lib/_ccallback_c.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/_lib/messagestream.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/_cythonized_array_utils.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/_decomp_lu_cython.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/_decomp_update.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/_fblas.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/_flapack.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/_interpolative.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/_matfuncs_expm.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/_matfuncs_sqrtm_triu.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/_solve_toeplitz.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/cython_blas.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/linalg/cython_lapack.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/ndimage/_nd_image.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/ndimage/_ni_label.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_highs/_highs_constants.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_highs/_highs_wrapper.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_lsq/givens_elimination.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_trlib/_trlib.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_bglu_dense.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_cobyla.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_direct.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_group_columns.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_lbfgsb.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_lsap.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_minpack.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_moduleTNC.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_pava_pybind.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_slsqp.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/optimize/_zeros.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/csgraph/_flow.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/csgraph/_matching.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/csgraph/_min_spanning_tree.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/csgraph/_reordering.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/csgraph/_shortest_path.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/csgraph/_tools.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/csgraph/_traversal.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/linalg/_dsolve/_superlu.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/linalg/_eigen/arpack/_arpack.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/linalg/_propack/_cpropack.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/linalg/_propack/_dpropack.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/linalg/_propack/_spropack.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/linalg/_propack/_zpropack.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/_csparsetools.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/sparse/_sparsetools.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/spatial/transform/_rotation.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/spatial/_ckdtree.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/spatial/_distance_pybind.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/spatial/_distance_wrap.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/spatial/_hausdorff.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/spatial/_qhull.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/spatial/_voronoi.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/special/_comb.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/special/_ellip_harm_2.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/special/_gufuncs.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/special/_specfun.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/special/_special_ufuncs.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/special/_ufuncs.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/special/_ufuncs_cxx.cp312-win_amd64.pyd
/.venv/Lib/site-packages/scipy/special/libsf_error_state.dll
/.venv/Lib/site-packages/scipy.libs/libscipy_openblas-5b1ec8b915dfb81d11cebc0788069d2d.dll
/.venv/Lib/site-packages/sentencepiece/_sentencepiece.cp312-win_amd64.pyd
/.venv/Lib/site-packages/shapely/_geometry_helpers.cp312-win_amd64.pyd
/.venv/Lib/site-packages/shapely/_geos.cp312-win_amd64.pyd
/.venv/Lib/site-packages/shapely/lib.cp312-win_amd64.pyd
/.venv/Lib/site-packages/shapely.libs/geos-23a442ac2dc21ec50035b705fec97a5a.dll
/.venv/Lib/site-packages/shapely.libs/geos_c-b1ae1e27c3e522f9b7836b33163a0f55.dll
/.venv/Lib/site-packages/shapely.libs/msvcp140-a69f03e9a25e87aaadb3f9acf048914d.dll
/.venv/Lib/site-packages/skimage/_shared/geometry.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/measure/_ccomp.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/measure/_pnpoly.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/morphology/_convex_hull.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/morphology/_extrema_cy.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/morphology/_flood_fill_cy.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/morphology/_grayreconstruct.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/morphology/_max_tree.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/morphology/_misc_cy.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/morphology/_skeletonize_3d_cy.cp312-win_amd64.pyd
/.venv/Lib/site-packages/skimage/morphology/_skeletonize_cy.cp312-win_amd64.pyd
/.venv/Lib/site-packages/tokenizers/tokenizers.cp312-win_amd64.pyd
/.venv/Lib/site-packages/torch/lib/asmjit.dll
/.venv/Lib/site-packages/torch/lib/c10.dll
/.venv/Lib/site-packages/torch/lib/c10_cuda.dll
/.venv/Lib/site-packages/torch/lib/caffe2_nvrtc.dll
/.venv/Lib/site-packages/torch/lib/cublas64_12.dll
/.venv/Lib/site-packages/torch/lib/cublasLt64_12.dll
/.venv/Lib/site-packages/torch/lib/cudart64_12.dll
/.venv/Lib/site-packages/torch/lib/cudnn64_9.dll
/.venv/Lib/site-packages/torch/lib/cudnn_adv64_9.dll
/.venv/Lib/site-packages/torch/lib/cudnn_cnn64_9.dll
/.venv/Lib/site-packages/torch/lib/cudnn_engines_precompiled64_9.dll
/.venv/Lib/site-packages/torch/lib/cudnn_engines_runtime_compiled64_9.dll
/.venv/Lib/site-packages/torch/lib/cudnn_graph64_9.dll
/.venv/Lib/site-packages/torch/lib/cudnn_heuristic64_9.dll
/.venv/Lib/site-packages/torch/lib/cudnn_ops64_9.dll
/.venv/Lib/site-packages/torch/lib/cufft64_11.dll
/.venv/Lib/site-packages/torch/lib/cufftw64_11.dll
/.venv/Lib/site-packages/torch/lib/cupti64_2025.1.0.dll
/.venv/Lib/site-packages/torch/lib/curand64_10.dll
/.venv/Lib/site-packages/torch/lib/cusolver64_11.dll
/.venv/Lib/site-packages/torch/lib/cusolverMg64_11.dll
/.venv/Lib/site-packages/torch/lib/cusparse64_12.dll
/.venv/Lib/site-packages/torch/lib/fbgemm.dll
/.venv/Lib/site-packages/torch/lib/libiomp5md.dll
/.venv/Lib/site-packages/torch/lib/libiompstubs5md.dll
/.venv/Lib/site-packages/torch/lib/nvJitLink_120_0.dll
/.venv/Lib/site-packages/torch/lib/nvrtc64_120_0.alt.dll
/.venv/Lib/site-packages/torch/lib/nvrtc64_120_0.dll
/.venv/Lib/site-packages/torch/lib/nvrtc-builtins64_128.dll
/.venv/Lib/site-packages/torch/lib/nvToolsExt64_1.dll
/.venv/Lib/site-packages/torch/lib/shm.dll
/.venv/Lib/site-packages/torch/lib/torch.dll
/.venv/Lib/site-packages/torch/lib/torch_cpu.dll
/.venv/Lib/site-packages/torch/lib/torch_cuda.dll
/.venv/Lib/site-packages/torch/lib/torch_global_deps.dll
/.venv/Lib/site-packages/torch/lib/torch_python.dll
/.venv/Lib/site-packages/torch/lib/uv.dll
/.venv/Lib/site-packages/torch/lib/zlibwapi.dll
/.venv/Lib/site-packages/torch/_C.cp312-win_amd64.pyd
/.venv/Lib/site-packages/torchvision/_C.pyd
/.venv/Lib/site-packages/torchvision/image.pyd
/.venv/Lib/site-packages/torchvision/jpeg8.dll
/.venv/Lib/site-packages/torchvision/libpng16.dll
/.venv/Lib/site-packages/torchvision/libsharpyuv.dll
/.venv/Lib/site-packages/torchvision/libwebp.dll
/.venv/Lib/site-packages/torchvision/nvjpeg64_12.dll
/.venv/Lib/site-packages/torchvision/zlib.dll
/.venv/Lib/site-packages/yaml/_yaml.cp312-win_amd64.pyd
/.venv/Lib/site-packages/yarl/_quoting_c.cp312-win_amd64.pyd
/.venv/Lib/site-packages/simsimd.cp312-win_amd64.pyd
/.venv/Lib/site-packages/stringzilla.cp312-win_amd64.pyd
/.venv/Scripts/python.exe
