/models/bart/config.json
/models/bart/generation_config.json
/models/bart/merges.txt
/models/bart/model.safetensors
/models/bart/special_tokens_map.json
/models/bart/tokenizer_config.json
/models/bart/vocab.json
/models/easyocr/craft_mlt_25k.pth
/models/easyocr/devanagari.pth
/models/easyocr/english_g2.pth
/models/t5/config.json
/models/t5/generation_config.json
/models/t5/model.safetensors
/models/t5/special_tokens_map.json
/models/t5/spiece.model
/models/t5/tokenizer.json
/models/t5/tokenizer_config.json
/models/trocr/config.json
/models/trocr/generation_config.json
/models/trocr/merges.txt
/models/trocr/model.safetensors
/models/trocr/preprocessor_config.json
/models/trocr/special_tokens_map.json
/models/trocr/tokenizer.json
/models/trocr/tokenizer_config.json
/models/trocr/vocab.json
/models/trocr-small-handwritten/config.json
/models/trocr-small-handwritten/generation_config.json
/models/trocr-small-handwritten/model.safetensors
/models/trocr-small-handwritten/preprocessor_config.json
/models/trocr-small-handwritten/sentencepiece.bpe.model
/models/trocr-small-handwritten/special_tokens_map.json
/models/trocr-small-handwritten/tokenizer.json
/models/trocr-small-handwritten/tokenizer_config.json
/test/pics/h1.jpg
/test/pics/h2.jpg
/test/pics/h3.jpg
/test/pics/h4.jpg
/test/pics/h5.jpg
/test/pics/h6.jpg
/test/pics/h7.jpg
/test/pics/h8.jpg
/test/pics/h9.jpg
/test/pics/h9.png
/test/pics/t2.jpg
/test/pics/t3.jpeg
/test/pics/t3.jpg
/test/pics/t4.jpg
/test/res.txt
/test/test.py
/test/test 2.py
/test/test 3.py
/test/test 3_5.py
/test/test 3_5_5.py
/test/test 4.py
/test/test 4_5.py
/test/test 5.py
/huh.py
